.profile {
  width: 500px;
  margin: 50px auto;
  padding-top: 20px;

  background-color: antiquewhite;
  border: 1px solid rgb(116, 168, 221);
  border-radius: 4px;
  box-shadow: 1px 1px 7px 3px rgb(116, 168, 221);

  text-align: center;
}
.avatar {
  display: block;
  background-color: aliceblue;
  width: 250px;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 20px;
}
.name {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 26px;
}
.tag {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.location {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.stats {
  background-color: aliceblue;
  border-radius: 0 0 5px 5px;
  display: flex;
  height: 100px;
  justify-content: space-between;
  list-style: none;
  margin: 28px 0 0;
  padding: 0;
}
.item {
  border-top: 1px solid #bdc2c9;
  width: 100%;
}

.item:not(:last-child) {
  border-right: 1px solid #bdc2c9;
}
.label {
  display: block;
  margin-top: 18px;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}
.quantity {
  display: block;
  font-weight: 600;
  font-size: 24px;
}
